In [1]:
import pandas as pd

In [4]:
df_list = []

for month in [10, 11, 12]:
    url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{month}.csv.gz'
    file = pd.read_csv(url, sep=',', compression='gzip')
    df_list.append(file)
    
df = pd.concat(df_list, ignore_index=True)

/tmp/ipykernel_39789/1361346826.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv(url, sep=',', compression='gzip')
/tmp/ipykernel_39789/1361346826.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv(url, sep=',', compression='gzip')
/tmp/ipykernel_39789/1361346826.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv(url, sep=',', compression='gzip')

In [5]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0

In [ ]:
df[df['ehail_fee'].notnull()].head(5)

In [ ]:
df['trip_type'].value_counts

In [20]:
df['VendorID'].unique()

array([ 2.,  1., nan])

In [14]:
df[df['trip_type'] > 1].head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
21,2.0,2020-09-30 23:58:54,2020-09-30 23:59:07,N,5.0,260,260,1.0,0.41,20.0,0.0,0.0,4.06,0.00,NaN,0.3,24.36,1.0,2.0,0.00
25,2.0,2020-10-01 00:45:30,2020-10-01 01:04:09,N,5.0,116,254,1.0,10.39,20.0,0.0,0.0,0.00,0.00,NaN,0.3,20.30,2.0,2.0,0.00
34,2.0,2020-10-01 01:23:12,2020-10-01 01:23:15,N,5.0,182,264,1.0,0.01,15.0,0.0,0.0,0.02,0.00,NaN,0.3,15.32,1.0,2.0,0.00
35,2.0,2020-10-01 01:15:00,2020-10-01 01:15:11,N,5.0,216,216,1.0,0.00,24.7,0.0,0.0,0.00,0.00,NaN,0.3,25.00,2.0,2.0,0.00
36,2.0,2020-10-01 01:03:17,2020-10-01 02:00:05,N,5.0,145,173,3.0,14.26,30.0,0.0,0.0,0.00,6.12,NaN,0.3,39.17,2.0,2.0,2.75